################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Ardemo/.vs/Ardemo/v15/Server/sqlite3/storage.ide
*.lock
